.drum-pad {
  height: 7%;
  width: 6%;
  border: .5px solid;
  background-color: rgba(255,255,255,.64);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-family: Verdana, sans-serif;
    text-align: center;
  }
  box-shadow: 2px 2px rgba(0,0,0,0.52);
}

.clicked {
  height: 6%;
  width: 5%;
  box-shadow: 0 0 4px 2px black;
}

#Crash-Cymbal {
  margin-top: 18%;
  left: 28%;
}

#High-Tom {
  margin-top: 18%;
  left: 42%;
}

#Medium-Tom {
  margin-top: 18%;
  left: 54%;
}

#Ride-Cymbal {
  margin-top: 18%;
  left: 66%;
}

#Hi-Hats {
  margin-top: 29%;
  margin-left: 9%;
}

#Snare-Drum {
  margin-top: 29%;
  margin-left: 20%;
}

#Bass-Pedal {
  margin-top: 30%;
  margin-left: 32%;
}

#Floor-Tom {
  margin-top: 29%;
  margin-left: 48%;
}
